/*.tooltip{
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {background-color: #eebf3f; padding:5px 15px; color:rgb(23,44,66); font-weight:bold; font-size:13px;}
.popOver + .tooltip > .tooltip-arrow {	border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

section{
  margin:100px auto;
  height:1000px;
}
.progress{
  border-radius:0;
  overflow:visible;
}
.progress-bar{
   background:rgb(23,44,60);
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}*/


@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

#techList {
	position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 70%;
  text-transform: uppercase;
  color: #666;
}

#techList li {
	position: absolute;
  top: 0;
  left: 0;
}

.html5 {
  color: #c14725;
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform:
  		scale(7.5, 7.8)
 			translate(1.18em, .68em);
  -moz-transform:
    	scale(7.5, 7.8)
 			translate(1.18em, .68em);
}

.javascript {
  color: #d5b931;
  letter-spacing: -.04em;
  font-weight: 400;
	-webkit-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
  -moz-transform:
    	scale(1.4)
    	rotate(90deg)
    	translate(3.88em, -13.2em);
}

.accessibility {
  letter-spacing: -.05em;
  font-weight: 300;
	-webkit-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
  -moz-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
  -moz-transform:
    	scale(2)
    	translate(2.12em, 5.14em);
}

.GhostJS {
  font-weight: 400;
  letter-spacing: -.04em;
  -webkit-transform:
    	scale(2.85, 3)
      translate(7.14em, 3.55em);
  -moz-transform:
      scale(2.85, 3)
      translate(7.14em, 3.55em);
}

.mysql {
  letter-spacing: -0.01em;
  font-weight: 700;
	-webkit-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(6em, -5.8em);
  -moz-transform:
    	scale(2.4, 2.3)
    	rotate(90deg)
    	translate(6em, -5.8em);
}

.css3 {
  color: #285ea7;
  letter-spacing: .01em;
  font-weight: 700;
	-webkit-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.54em);
  -moz-transform:
    	scale(6.8, 6.75)
    	rotate(90deg)
    	translate(1.32em, -4.54em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
	-webkit-transform:
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
  -moz-transform:
    	scale(3.88, 3.8)
    	translate(5.42em, 3.72em);
}

.reactJS {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform:
    	scale(1.85, 1.9)
      translate(1.86em, 6.5em);
  -moz-transform:
      scale(1.85, 1.9)
      translate(1.86em, 6.5em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform:
    	scale(2.75, 3)
      translate(1.72em, 4.95em);
  -moz-transform:
      scale(2.75, 3)
      translate(1.72em, 4.95em);
}

.php {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform:
    	scale(3.9, 4)
      translate(6.05em, .95em);
  -moz-transform:
      scale(3.9, 4)
      translate(6.05em, .95em);
}

.nodeJS {
  color: #8ed531;
  font-weight: 700;
  letter-spacing: 0.1em;
  word-spacing: .2em;
  -webkit-transform:
  		scale(2)
      translate(2.28em, 8.58em);
  -moz-transform:
      scale(2)
      translate(2.28em, 8.58em);
}

.webstandards {
  font-weight: 300;
  letter-spacing: 0em;
  word-spacing: .1em;
  -webkit-transform:
    	scale(2)
      translate(12.7em, 8.6em);
  -moz-transform:
      scale(2)
      translate(12.7em, 8.6em);
}

.jg {
  color: #ee5d29;
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform:
    	scale(3.4)
      translate(7.03em, 2.15em);
  -moz-transform:
      scale(3.4)
      translate(7.03em, 2.15em);
}

.bean-skills {
	width: 100%;
	}

.bean-skills p {
	margin-bottom: 20px;
	}

ul.bean-skillset {
	float: left;
	width: 100%;
	}

.skill-percent {
	float: right;
	}

li.skill-bar {
	background-color: #7BC673;
	color: #FFF;
	font: bold 12px/23px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 3px;
	padding: 2px 8px;
	width: 300px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
		    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	}
